body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ddd;
    background-color: #111;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1001;
    transition: opacity 1s ease-in-out;
}

#loading-screen.hidden {
    opacity: 0;
}

.top-bar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'Roboto Slab', serif;
}

.top-bar .logo {
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif; /* Times New Roman for foreign text */
}

.top-bar .icons {
    display: flex; /* Flex container for icons */
    align-items: center; /* Center icons vertically */
}

.top-bar .icons img {
    width: 30px; /* Icon size */
    height: 30px; /* Icon size */
    margin-left: 15px; /* Space between icons */
}

.top-bar a {
    color: #fff;
    text-decoration: none;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 27px;
    cursor: pointer;
    margin-left: 15px;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 8px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 998;
    height: 150px;
    text-transform: lowercase;
    font-family: 'Roboto Slab', serif;
}

.menu.active {
    transform: translateY(0);
}

.menu p {
    font-size: 22px;
    margin: 10px 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.content-container {
    padding-top: 100px; /* Space for fixed top bar */
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #ddd;
}

.section-title {
    font-size: 28px;
    color: #bbb;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.menu-section {
    margin-bottom: 40px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ddd;
}

.item-name {
    flex-grow: 1;
}

.item-price {
    flex-grow: 0;
    font-weight: bold;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

.footer-divider {
    width: 85%;
    height: 1px;
    background-color: #444;
    margin: 20px auto;
}

.footer-address {
    margin-bottom: 15px;
}